@import "config";
@import "header";
@import "nav";
@import "newsList";

body {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $black;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background-color: $gray2;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: $blue;
  font-weight: 500;
  display: inline-block;
  transition: all 0.2s linear;

  &:hover {
    color: $text2;
  }
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  padding: 16px 32px;
  background: $blue;
  border: 1px solid $blue;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 8px;

  &:focus {
    outline: none;
    background: #021ea6;
  }

  &:hover {
    background: #0125d3;
  }

  &:active {
    background: #021ea6;
  }

  &--invert {
    background: transparent;
    color: $blue;

    &:hover {
      color: $white;
    }

    &:focus {
      color: $white;
    }

    &:active {
      color: $white;
    }
  }
}

// Checkbox
.custom__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom__checkbox__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}
.custom__checkbox + .custom__checkbox__label::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $gray;
  border-radius: 50%;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s linear;
  cursor: pointer;
}

.custom__checkbox:checked + .custom__checkbox__label::before {
  border-color: $blue;
  background-color: $blue;
  background-image: url("../images/dest/icons/checbox__ok.svg");
}

.custom__checkbox--radio:checked + .custom__checkbox__label::before {
  border-color: $blue;
  background-color: $blue;
  background-image: url("../images/dest/icons/radio__dot.svg");
}

/* стили при наведении курсора на checkbox */
.custom__checkbox:not(:disabled):not(:checked)
  + .custom__checkbox__label:hover::before {
  box-shadow: 0 0 0 8px rgba(2, 130, 254, 0.1);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom__checkbox:disabled:not(:checked) + .custom__checkbox__label::before {
  background: #d6d8e7;
  border-color: #d6d8e7;
}

.custom__checkbox:disabled:checked + .custom__checkbox__label::before {
  opacity: 0.5;
}

// Select
.exchange__select {
  width: 100%;
}

.exchange__select {
  position: relative;
  height: 49px;
  user-select: none;
  background: #fff;

  &--active {
    .exchange__select__body {
      display: block;
    }

    .exchange__select__arrow {
      transform: rotate(-180deg);
    }
  }
}

.exchange__select__head {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 49px;
  border: 1px solid $gray;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 8px;
  position: relative;

  &:hover {
    border-color: rgba($color: $gray, $alpha: 0.7);
    .exchange__select__arrow {
      opacity: 0.7;
    }
  }
}

.exchange__select__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.exchange__select__supt__title {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
  color: $text2;
}

.exchange__select__arrow {
  width: 14px;
  height: 7px;
  transition: all 0.2s linear;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translate(0, -50%);
}

.exchange__select__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exchange__select__body {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 5;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.exchange__select__list {
  border: 1px solid $gray;
  background: #fff;
  max-height: 170px;
  overflow-y: scroll;
  border-radius: 3px;
  width: 100%;

  &::-webkit-scrollbar {
    width: 4px; /* 1 - вертикальный скроллбар */
  }
  &::-webkit-scrollbar {
    &:horizontal {
      height: 4px; /* 1 - горизонтальный скроллбар */
    }
  }
  &::-webkit-scrollbar-button {
    background: #fff; /* 2 - кнопка */
  }
  &::-webkit-scrollbar-track {
    background: #fff; /* 3 - трек */
  }
  &::-webkit-scrollbar-track-piece {
    background: #fff; /* 4 – видимая часть трека */
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  &::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }
}

.exchange__select__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 34px;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  width: 100%;

  &:hover {
    color: $blue;
    background: transparent;
  }
}

// Titles
.title_1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.title_2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.title_3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.title_4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.title_5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

// Tags
.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tags__item {
  display: inline-block;
  margin-right: 4px;
  padding: 2px 4px;
  background: #60d9f9;
  color: $white;
  font-size: 8px;
  line-height: 9px;
  border: 1px solid #60d9f9;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.2s linear;

  &:hover {
    background: transparent;
    color: #60d9f9;
  }

  &--orange {
    background: $orange;
    border-color: $orange;

    &:hover {
      color: $orange;
    }
  }

  &--gray {
    background: $text2;
    border-color: $text2;

    &:hover {
      color: $text2;
    }
  }

  &--green {
    background: $green;
    border-color: $green;

    &:hover {
      color: $green;
    }
  }
}

@media (max-width: $tablet) {
  // Titles
  .title_1 {
    font-size: 32px;
    line-height: 38px;
  }

  .title_2 {
    font-size: 24px;
    line-height: 28px;
  }

  .title_3 {
    font-size: 18px;
    line-height: 21px;
  }

  .title_4 {
    font-size: 16px;
    line-height: 19px;
  }

  .title_5 {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: $mobile) {
}
