.popup {
  display: none;
  position: fixed;
  z-index: 8;
  background-color: $white;
  box-shadow: 0px 20px 20px rgba(87, 113, 240, 0.1);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;

  &--cookie {
    display: block;
    top: auto;
    bottom: 104px;
    left: 50%;
    transform: translate(-50%);
    max-width: 693px;
    padding: 20.5px 16px;
  }

  &--settings {
    max-width: 518px;
  }

  &--active {
    display: block;
  }

  &--faq {
    max-width: 523px;
  }

  &--auth {
    max-width: 391px;
  }

  &--registration {
    max-width: 742px;
  }

  &--recovery {
    max-width: 391px;
  }

  &--addition {
    .popup__special__item {
      margin-bottom: 24px;
    }
  }

  &--special {
    padding: 32px;

    .popup__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .popup__header {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.popup__cookie__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__cookie__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.popup__cookie__link {
  font-size: 14px;
  line-height: 17px;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popup__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.popup__close {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 12.5px;
  height: 12.5px;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.popup__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $text2;
  margin-bottom: 24px;
}

.popup__select__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.popup__settings__select {
  margin-bottom: 24px;
}

.exchange__select.popup__faq__select {
  margin-bottom: 24px;

  .exchange__select__title {
    color: $text2;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}

.custon__input.popup__textarea {
  height: 155px;
  margin-bottom: 24px;
}

.popup__special__item {
  margin-bottom: 32px;
  width: 100%;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--twice {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .popup__special__btn {
      width: fit-content;
    }
  }

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;

    .popup__special__item {
      max-width: 49%;

      &:last-child {
        margin-bottom: 32px;
      }
    }
  }
}

.popup__special__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.popup__input__item {
  position: relative;

  &--invalid {
    .custon__input.popup__special__input {
      border-color: $red;
    }

    .popup__special__warning {
      display: block;
    }
  }

  &--password {
    .custon__input {
      &--password {
        -webkit-text-security: none;
      }
    }
  }
}

.custon__input.popup__special__input {
  height: 56px;
}

.popup__input__show {
  background: none;
  border: none;
  padding: 0;
  transition: all 0.2s linear;
  cursor: pointer;
  position: absolute;
  top: 20.75px;
  right: 19px;

  &:hover {
    opacity: 0.8;
  }
}

.popup__special__btn {
  width: 100%;
}

.link.popup__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__special__warning {
  display: none;
  width: 100%;
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $red;
  margin-top: 2px;
}

.popup__special__text {
  font-size: 14px;
  line-height: 150%;
  color: $text2;
}

.custon__input.popup__special__textarea {
  height: 155px;
}

@media (max-width: $tablet) {
  .popup {
    &--settings {
      max-width: 332px;
    }

    &--cookie {
      max-width: 332px;
    }

    &--faq {
      max-width: 328px;
    }

    &--special {
      width: 100%;
      max-width: 100%;
      height: 100%;
      z-index: 10;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &--registration {
      display: block;

      .popup__special__form {
        height: 812px;
        min-height: 812px;
      }
    }

    .popup__special__form {
      width: 100%;
    }

    &--addition {
      display: block;
      .contacts__checkbox__item {
        margin-bottom: 0;
      }
    }
  }

  .popup__cookie__inner {
    flex-direction: column;
  }

  .popup__cookie__left {
    text-align: center;
    margin-bottom: 8px;
  }

  .popup__header {
    margin-bottom: 24px;
  }

  .popup__text {
    font-size: 12px;
    line-height: 140%;
  }

  .popup__select__wrapper {
    grid-template-columns: none;
  }

  .popup__settings__select {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 24px;
    }
  }

  .popup__setting__btn {
    width: 100%;
  }

  .popup__special__item {
    &--wrapper {
      .popup__special__item {
        max-width: 100%;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 24px;
        }
      }
    }

    &--twice {
      flex-direction: column;

      .contacts__checkbox__item {
      }
    }
  }
}
