.stats {
  background: $white;
}

.stats__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: $mobile) {
  .stats__content {
    flex-direction: column;
    padding: 0 21px;
  }
}
