.tabs__head {
  border-radius: 8px 8px 0px 0px;
  background: $white;
}

.tabs__head__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid $gray2;
}

.tabs__nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs__nav__item {
  padding: 0 42px;
  height: 100%;
  position: relative;
  transition: all 0.2s linear;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: $blue;

    position: absolute;
    left: 0;
    bottom: -11px;
    opacity: 0;
    transition: all 0.2s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &--active {
    font-weight: 500;
    &::before {
      opacity: 1;
    }
  }
}

.tabs__nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.tabs__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabs__btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;

  &:last-child {
    margin-left: 24px;
    margin-right: 18px;
  }

  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: all 0.2s ease;
  }

  &--filter {
    span {
      background: url("../images/dest/tabs/filter.svg") no-repeat center;
    }

    &:hover,
    &--active {
      span {
        background: url("../images/dest/tabs/filter--blue.svg") no-repeat center;
      }
    }
  }

  &--settings {
    span {
      background: url("../images/dest/tabs/settings.svg") no-repeat center;
    }

    &:hover,
    &--active {
      span {
        background: url("../images/dest/tabs/settings--blue.svg") no-repeat
          center;
      }
    }
  }
}

.tabs__filter {
  padding: 24px;
  border-bottom: 1px solid $gray2;
  display: none;
  background: $white;

  &--active {
    display: block;
  }

  &--calculator {
    .tabs__filter__btn {
      width: auto;
    }
  }
}

.tabs__filter__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabse__change__btn {
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 24px;

  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/dest/tabs/change.svg") no-repeat center;
    transition: all 0.2s ease;
  }

  &:hover {
    span {
      background: url("../images/dest/tabs/change--blue.svg") no-repeat center;
    }
  }
}

.tabs__filter__btn {
  max-width: 176px;
  width: 100%;
  height: 49px;
}

.tabs__filter__select {
  max-width: 235px;
}

.tabs__filter__input {
  max-width: 150px;
}

.tabs__filter__messages {
  margin-top: 16px;
}

.tabs__bot {
  margin-top: 40px;
}

.tabs__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 24px;
}

.tabs__text {
  margin-bottom: 30px;
}

.link.tabs__open__text {
  display: none;
  &--active {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.tabs__calculator__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.tabs__calculator__radio__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .custom__checkbox__item {
    &:first-child {
      margin-right: 24px;
    }
  }
}

.tabs__calculator__item {
  margin: 0 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--double {
    margin: 0 24px;
  }
}

.tabs__calculator__value {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-left: 8px;
}

.exchange__select.tabs__double__select {
  max-width: 200px;

  &:nth-child(1) {
    margin-right: 24px;
  }

  &--first {
    margin-right: 24px;
  }
}

@media (max-width: $tablet) {
  .tabs {
    .container {
      padding: 0;
    }

    .tabs__nav__item {
      padding: 0 16px;
      height: auto;
    }

    .tabs__nav__link {
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
    }
  }

  .tabs__filter {
    padding: 16px;

    &--calculator {
      .tabs__filter__btn {
        width: 100%;
        text-align: center;
      }
    }
  }

  .tabs__filter__inner {
    flex-direction: column;
  }

  .tabs__filter__select {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .tabs__filter__input {
    width: 139px !important;
  }

  .tabs__change {
    margin-bottom: 32px;
  }

  .tabse__change__btn {
    margin: 0 16px;
  }

  .tabs__filter__btn {
    width: 100%;
    max-width: 100%;
  }

  .tabs__bot {
    padding: 0 16px;
  }

  .tabs__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }

  .tabs__text {
    font-size: 16px;
    line-height: 150%;
  }

  .link.tabs__open__text {
    display: inline-block;
  }

  .tabs__calculator__wrapper {
    flex-direction: column;
  }

  .tabs__calculator__radio__wrapper {
    margin-bottom: 24px;
    .custom__checkbox__item {
      &:first-child {
        margin-right: 48px;
      }
    }
  }

  .tabs__calculator__item {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;

    .tabs__filter__input {
      width: 100% !important;
      max-width: 100%;
    }
  }

  .exchange__select.tabs__double__select {
    max-width: 100%;
    margin-bottom: 24px;

    &--first {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile) {
  .tabs__nav__list {
    width: 267px;
    height: 48px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
  }

  .tabs__btns {
    position: relative;

    &::before {
      content: "";
      height: 100%;
      width: 30px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(250, 252, 255, 0.17440479609812676) 100%
      );
      z-index: 4;
      position: absolute;
      left: -32px;
      top: 0;
    }
  }
}
