.trade__table {
  background: $white;
  border-radius: 0 0 8px 8px;
}

.trade__head {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 24.5% 22.5% 22.5% 13.6% 13.6%;
  padding-bottom: 12px;
}

.trade__head__item {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  align-self: flex-end;

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--active {
      .trade__head__icon {
        transform: rotate(-180deg);
      }
    }
  }

  &--exchanger {
    text-align: left;
    padding-left: 24px;
  }
}

.trade__head__icon {
  transition: all 0.2s linear;
  margin-left: 9.38px;
}

.trade__body {
  padding-bottom: 55px;
  margin-bottom: 41px;
}

.trade__line {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 24.5% 22.5% 22.5% 13.6% 13.6%;

  &:nth-child(odd) {
    background: #f8fbff;
  }
}

.trade__body__item {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  align-self: center;

  &--exchanger {
    text-align: left;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
}

.trade__body__item__btn {
  margin-right: 8px;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    transition: all 0.2s linear;
  }

  &--faivorite {
    span {
      background: url("../images/dest/trade/star.svg") no-repeat center;
    }

    &:hover {
      span {
        background: url("../images/dest/trade/star--hover.svg") no-repeat center;
      }
    }

    &--active {
      span {
        background: url("../images/dest/trade/star--active.svg") no-repeat
          center;
      }

      &:hover {
        span {
          background: url("../images/dest/trade/star--active.svg") no-repeat
            center;
        }
      }
    }
  }

  &--info {
    span {
      background: url("../images/dest/trade/info.svg") no-repeat center;
    }

    &:hover {
      span {
        background: url("../images/dest/trade/info--active.svg") no-repeat
          center;
      }
    }

    &--active {
      span {
        background: url("../images/dest/trade/info--active.svg") no-repeat
          center;
      }
    }
  }
}

.trade__body__item__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.trade__popup {
  display: none;
  position: absolute;
  top: -12px;
  left: 67px;
  background: $white;
  border: 1px solid $gray2;
  box-shadow: 0px 10px 20px rgba(87, 113, 240, 0.03);
  border-radius: 8px;
  width: 235px;
  padding: 16px;
  padding-bottom: 0;
  z-index: 2;
  pointer-events: none;

  &--active {
    display: block;
  }
}

.trade__popup__country {
  color: $text2;
  font-size: 10px;
  line-height: 12px;
}

.trade__popup__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.trade__popup__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.trade__popup__rating__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/dest/trade/star--small.svg") no-repeat center;
  transition: all 0.2s linear;
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background: url("../images/dest/trade/star--small--active.svg") no-repeat
      center;
  }
}

.trade__popup__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.trade__popup__item {
  margin-bottom: 16px;
}

.trade__popup__item__suptitle {
  color: $text2;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 8px;
}

.trade__popup__item__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: $tablet) {
  .trade__head {
    grid-template-columns: 37.3% 31.2% 31.5%;
    padding-bottom: 0;
  }

  .trade__head__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--reserve,
    &--reviews {
      display: none;
    }

    &--exchanger {
      padding-left: 16px;
    }

    &--give {
      box-shadow: 26px 0px 40px -38px rgba(0, 0, 0, 0.1) inset;
    }

    &--icon {
      justify-content: center;
    }
  }

  .trade__line {
    grid-template-columns: 37.3% 31.2% 31.5%;
  }

  .trade__body__item {
    font-size: 10px;
    line-height: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--reviews,
    &--reserve {
      display: none;
    }

    &--exchanger {
      padding-left: 16px;
      flex-direction: row;
      justify-content: flex-start;
    }

    &--give {
      box-shadow: 26px 0px 40px -38px rgba(0, 0, 0, 0.1) inset;
    }
  }

  .trade__body__item__title {
    font-size: 12px;
    line-height: 14px;
  }

  .trade__body {
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  .tabs__bot {
    padding: 0 16px;
  }

  .tabs__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }

  .tabs__text {
    font-size: 16px;
    line-height: 150%;
  }

  .trade__popup__title {
    font-size: 18px;
  }
}
