.header {
  margin-top: 32px;
  margin-bottom: 29px;
}

.header__inner {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  width: 100%;
  padding: 0 16px;
  border: 1px solid $gray;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(87, 113, 240, 0.03);
  border-radius: 8px;
}

.header__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__info {
  margin-left: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__info__item {
  &:last-child {
    margin-left: 16px;
  }
}

.header__info__title {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
  color: $black;
}

.header__info__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__add__btn {
  display: inline-block;
  background: none;
  padding: 0;
  border: none;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s linear;
  width: 20px;
  height: 20px;

  &:hover {
    opacity: 0.8;
  }
}

.header__user {
  height: 36px;
  width: 36px;
  margin-left: 26px;

  img {
    max-height: 36px;
    max-width: 36px;
    border: 1px solid transparent;
    transition: all 0.2s linear;
    border-radius: 8px;

    &:hover {
      border-color: $blue;
    }
  }
}

@media (max-width: $tablet) {
  .header {
    margin-top: 0;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;
    .container {
      padding: 0;
    }
  }

  .header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header__center {
    position: fixed;
    left: 0;
    top: 0;
    background: $white;
    flex-direction: column;
    height: 100%;
    max-width: 273px;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 10px 20px rgba(87, 113, 240, 0.03);
    // display: none;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 18vh;
    padding-left: 16px;
    transform: translate(-273px);
    transition: all 0.2s ease;

    &--active {
      // display: flex;
      transform: translate(0);
    }
  }

  .header__burger {
    position: relative;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    margin-right: 63px;
    span {
      display: inline-block;
      width: 33px;
      height: 22px;
      transition: background 0.1s ease;
      background: url("../images/dest/header/open.svg") no-repeat center;
    }

    &--active {
      margin-right: 32px;
      span {
        width: 22.5px;
        height: 22.5px;
        background: url("../images/dest/header/close.svg") no-repeat center;
      }
    }
  }

  .header__logo {
    position: relative;
    z-index: 10;
    width: 84.88px;
    height: 20px;

    img {
      width: 84.88px;
      height: 20px;
    }
  }

  .header__info {
    margin-left: 0;
    margin-bottom: 6vh;
  }
}
